.vfrc-input {
  background-color: #9DC183;
  color: #006400;            /* Donkergroen tekstkleur */
  border-color: #006400;     /* Donkergroene rand */
}

.vfrc-input::placeholder {
  color: #06402B !important; /* Donkergroene placeholder */
  opacity: 1 !important;     /* Volledig zichtbaar */
}
